<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>

    <nav id="topnav">
        <div id="navigation">
            <a> Logo </a>
            <a> Home </a>
            <a> Products </a>
            <a> Services </a>
        </div>
        <div id="search">
            <input type="text" placeholder="Search..">
            <input type="button" id="go" value="Go">
        </div>
    </nav>
    <header>
        <h2>Header</h2>
        <ul>
            <li>
                link 1
            </li>
            <li>
                link 2
            </li>
            <li>
                link 3
            </li>
            <li>
                link 4
            </li>
        </ul>

    </header>
<div class="box">
    <div id="mainheader">
        <h2>Main Header</h2>        
        <p>
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
            designs.
            The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled
            parts of
            Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with. Lorem ipsum,
            or
            lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
            The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled
            parts of
            Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
        </p>
        <p> Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
            designs.
            The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled
            parts of
            Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with. Lorem ipsum,
                  </p>
                </div>
          <div id="rellinks">
            <h2>Related Links</h2>
            <nav>
                <ul>
                    <li><a href="link1">Sidebar Link #1 </a></li>
                    <li><a href="link1">Sidebar Link #2 </a></li>
                    <li><a href="link1">Sidebar Link #3 </a></li>
                </ul>
            </nav>     
       
 
    </div>
</div>
</body>
<footer>
    <p> &#169 2020 Copyright</p>
</footer>

</html>